<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table {
            width: 80%;
            margin: 0 audo;
        }

        th {
            background-color: rgb(181, 219, 9);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>pm2.5</h1>
    <table border="1">
        <thead>
            {% for col in columns %}
            <th>{{col}}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in datas %}
            <tr>
                {% for data in row %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>